<div id="liveAgent">
    <div>
            <p class="n-live-agent__inline">Have a question? Visit the <a href="https://help.ft.com" data-trackable="customer-support">FT Help Centre</a> or chat to a customer advisor now.</p>
        </div>
        <button id="liveAgentButton" class="o-buttons o-buttons--big n-live-agent__inline-button" data-trackable="livechat-openChatWindow">
            <span class="o-buttons">Start chat</span>
        </button>
    </div>

    <div id="liveAgentOnlineIndicator"></div>
    <div id="liveAgentOfflineIndicator"></div>
</div>