<div id="liveAgent">
	<div id="liveAgentButtonContainer" class="n-sliding-popup" data-n-component="n-sliding-popup" data-n-sliding-popup-position="bottom right">
		<button id="liveAgentButton" class="o-buttons o-buttons--big o-buttons--b2c" data-trackable="livechat-openChatWindow">
			<strong>Need help?</strong>
			<span class="o-buttons o-buttons--b2c underline">Start chat</span>
		</button>
		<button id="liveAgentButtonClose" class="n-sliding-popup-close o-buttons o-buttons--b2c" data-n-component="n-sliding-popup-close" data-trackable="livechat-triggerClose">
			<span class="n-sliding-popup-close-label">Close</span>
		</button>
	</div>

	<div id="liveAgentOnlineIndicator"></div>
	<div id="liveAgentOfflineIndicator"></div>
</div>
