<div id="liveAgentPopup" class="n-sliding-popup n-live-agent__popup" data-n-component="n-sliding-popup" data-n-sliding-popup-position="bottom right">
	<div class="n-live-agent__popup-cta">
		Need help?
		<button id="liveAgentButton" class="n-live-agent__popup-button" data-trackable="livechat-openChatWindow">
			Start chat
		</button>
	</div>

	<button id="liveAgentButtonClose" class="n-live-agent__popup-button--close" data-n-component="n-sliding-popup-close" data-trackable="livechat-triggerClose">
		<span class="n-sliding-popup-close-label">Close</span>
	</button>
</div>
