@mixin nLiveChatInline(
	$baseColor: 'org-b2c-dark', 
    $textColor: 'black',
    $ctaTextColor: 'white',
	$buttonTheme: 'b2c'
) {
	.n-live-agent__inline {
        @include oTypographySans($scale: 0);
        color: oColorsGetPaletteColor($textColor);
        max-width: 270px;
        margin-top: 8px;

        &-button {
            @include oButtons($size: 'default', $theme: $buttonTheme);
            @include oTypographySansBold($scale: -1);
            color: oColorsGetPaletteColor($ctaTextColor);
            border-color: oColorsGetPaletteColor($ctaTextColor);
            width: 80px;
        }
	
    }

}