@mixin nLiveChatInline(
	$baseColor: 'org-b2c-dark', 
    $textColor: 'black',
    $ctaTextColor: 'white',
	$buttonTheme: 'b2c'
) {
	.n-live-agent__inline {
        margin-top: 8px;
        
        &-message {
            @include oTypographySans($scale: 0);
            color: oColorsGetPaletteColor($textColor);
        }

        &-button {
            @include oButtons($size: 'default', $theme: $buttonTheme);
            color: oColorsGetPaletteColor($ctaTextColor);
            border-color: oColorsGetPaletteColor($ctaTextColor);
        }
	
    }

}