@mixin nLiveChatInline(
	$buttonTheme: 'b2c'
) {
	.n-live-agent__inline {
        margin-top: 8px;
        
        &-message {
            @include oTypographySans($scale: 0);
        }

        &-button {
            @include oButtonsContent($opts: (
                size: 'default',
                theme: $buttonTheme
            ));
        }
	
    }

}