/// Live chat popup
///
/// Outputs the CSS classes for a sliding popup with a live chat link,
/// absolutely positioned at the bottom right of the page.
///
/// @param {String} $baseColor, the background color for the popup
/// any color name based on o-colors
/// defaults to org-b2c-dark
/// http://registry.origami.ft.com/components/o-colors
/// @param {String} $textColor, the text color for the popup
/// any color name based on o-colors
/// defaults to white
/// @param {String | Map} $theme, any theme name as defined in $o-buttons-themes
/// (primary, secondary, etc) or a Map defining a custom theme.
/// https://registry.origami.ft.com/components/o-buttons
/// defaults to b2c

@mixin nLiveChatPopup(
	$baseColor: 'org-b2c-dark', 
	$textColor: 'white',
	$buttonTheme: 'b2c'
) {
	.n-live-agent__popup {
		@include oVisualEffectsShadowContent('high', oColorsByName('black-90'));
		border: 0;
		border-radius: 0;
		margin: 10px;
		padding: 8px 8px 8px 16px;
		background-color: oColorsByName($baseColor);
		left: auto;
		display: flex;
		flex-flow: row wrap-reverse;
		align-items: center;

		&-cta {
			@include oTypographySans($scale: 0, $weight: 'semibold');
			color: oColorsByName($textColor);
			text-align: center;
		}

	
		&-button {
			@include oButtonsContent($opts: (
				type: 'primary',
				theme: $buttonTheme
			));
			border-color: oColorsByName($textColor);
			margin: 5px;
	
			&--close {
				@include oIconsContent('cross', oColorsByName($textColor), 30, $iconset-version: 1);
				border: 0;
				background-position-x: left;
			}
		}
	}
}
