$system-code: 'demo';

@import 'n-ui-foundations/main';
@import '../../main.scss';

.demo-header {
	@include oTypographySans($scale: 4, $weight: 'semibold');
	border-bottom: 5px solid oColorsByName('black-70');
	margin-bottom: 3em;
}

@include nLiveChatInline();
@include nLiveChatPopup();
